@using MvcTicaretOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Satis  Detay</h2>

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Satis ID</th>
        <th>Cari adi</th>
        <th>TARİH </th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam Tutar</th>
        <th>Cari İd</th>
        <th>Personel adi</th>
        <th>Urun Adi</th>
        <th>Yazdir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Satisid </td>
            <td>@item.Carilers.CariAd @item.Carilers.CariSoyad </td>
            <td>@item.Tarih </td>
            <td>@item.Adet </td>
            <td>@item.Fiyat </td>
            <td>@item.ToplamTutar </td>
            <td>@item.Cariid </td>
            <td>@item.Personels.PersonelAd @item.Personels.PersonelSoyad </td>
            <td>@item.Uruns.UrunAd </td>


        </tr>
    }

</table>

<button class="btn btn-default"  style="background-color:aquamarine">Yazdır</button>
